.form-container {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(206, 202, 202);
    display: block;
    padding: 40px;
}

label {
    width: 200px;
    text-align: left;
}

.form-control {
    width: 70%;
    border: 2px solid grey;
    outline: none;
    border-bottom: 1px solid gray;
    color: #fff;
    font-size: 14px;
    margin: 14px;
}

